.Cockpit p {
  text-align: justify;
  padding: 0 1rem;
}

.CockpitBtn {
  margin: 1rem 0;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
}

.Cockpit ol {
  text-align: left;
  margin: 0 15%;
}
